:root {
    --cmw: 1460px;

    /* kolor kierunku - żeby łatwiej było przerobić dla innych kierunków  */
    --theme: var(--grafika);
    --theme-dark: var(--grafika-ciemny)
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 20px 20px;

}



#hero-grafika {
    background: url(./grafika-hero-bg.png);
}

#hero-grafika .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--cmw);
    padding: 0 40px;
    gap: 20px;
}

#hero-grafika .naglowek-podstrony {
    display: inline-flex;

    /* padding: 10px; */
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    color: var(--biay, #FFF);
    opacity: 0.5;

    /* breadcrumbs */
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

#hero-grafika .kierunek-title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    color: var(--biay, #FFF);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 39.2px */
    text-transform: uppercase;
}

#hero-grafika .kierunek-title h2 {
    color: var(--biay, #FFF);
    font-family: Roboto;
    font-size: 140px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

    mix-blend-mode: overlay;
}

#hero-grafika .pka-seal {
    position: absolute;
    width: 400px;
    top: 360px;
    left: 5vw;
}

#hero-grafika .RHS {
    align-self: flex-end;

    display: flex;
    max-width: 710px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    border-radius: 20px;
    border: 1px solid rgba(78, 78, 78, 0.35);
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(40px);
}

#hero-grafika .RHS .RHS-header h3 {
    color: var(--biay, #FFF);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    /* 68px */
}

#hero-grafika .RHS .RHS-header {
    color: var(--biay, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
}

#hero-grafika .RHS p {
    color: var(--biay, #FFF);

    /* p-tresc-glowna */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

#hero-grafika .rekrutacja-redirect {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.90);
}

#hero-grafika .RHS .rekrutacja-redirect h4 {
    width: fit-content;
    margin: 0;

    color: var(--szary-90, #1A1A1A);

    /* H4-naglowek-srodtytul */
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    /* 30.8px */
}

#hero-grafika .RHS .rekrutacja-redirect .redirect-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: var(--szary-90, #1A1A1A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 25.6px */
}

#hero-grafika .RHS .rekrutacja-redirect .redirect-content a {
    color: var(--szary-90, #1A1A1A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.custom-navbar {
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 0;

    --bs-navbar-nav-link-padding-x: 20px;
}

.custom-navbar .container-fluid {
    display: flex;
    justify-content: center;
    padding: 0;
}

.custom-navbar .navbar-collapse {
    flex-grow: 0;
    max-width: calc(var(--cmw) - 40px);
    width: 100%;
}

.custom-navbar .navbar-toggler {
    background-color: var(--theme);
    border-radius: 0;
    border: none;
    padding: 20px;
    font-weight: 600;
    width: 100%;

    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    /* 22.4px */
}

.custom-navbar .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.custom-navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
    max-width: calc(var(--cmw) - 40px);
    width: 100%;
}

.custom-navbar .nav-link {
    --bs-nav-link-padding-y: 20px;

    color: #FFF;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.custom-navbar .nav-link:hover {
    background: var(--theme);
    font-weight: 600;
}

/* Mobile accordion look */
@media (max-width: 1330px) {
    .custom-navbar .navbar-collapse {
        background: url(./grafika-hero-bg-dark.png);
    }

    .custom-navbar .navbar-collapse .nav-link:hover {
        background: none;
    }

    .custom-navbar .nav-item {
        display: flex;
        justify-content: center;
    }

    .custom-navbar .nav-link {
        padding: 1rem;
        text-align: left;
    }
}

/* ===============
        PKA
   ===============*/

#pka {
    background: #034293;
}

#pka .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: var(--cmw);
}

#pka img {
    scale: 60%;
}

#pka .divider hr {
    width: 1px;
    height: 100%;
}

#pka .row {
    padding: 30px 20px;
    --bs-gutter-x: 0;
}

#pka #text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pka h5 {
    color: var(--biay);
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#pka p {
    color: var(--biay);

    /* p-tresc-glowna */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

#pka p strong {
    color: #FFF;

    /* p-tresc-glowna */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

/* ====================
      00 - reusables
   ==================== */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--cmw);
    padding: 40px 20px;
    gap: 65px;
}

.kierunek-header {
    justify-self: flex-start;

    display: flex;
    gap: 10px;
    width: fit-content;
    height: 250px;
    overflow: hidden;

    border-bottom: 1px solid #262626;

    user-select: none;
}

.kierunek-header .number {
    align-self: flex-start;

    color: var(--theme);
    font-family: Roboto;
    font-size: 300px;
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
    /* 420px */
}

.kierunek-header .title {
    align-self: flex-end;

    color: var(--szary-85-tekst);

    /* H2-naglowek-sekcji */
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#card-button,
#card-button-darker {
    background: var(--biay);
    border: 1px solid var(--szary-10);
    padding: 18px 40px;
}

#card-button:hover {
    background: var(--theme);
}

#card-button-darker:hover {
    background: var(--theme-dark);
}

/* =======================
      01 - specjalnosci
   ======================= */

/* drugi stopien ma ciemniejszy kolor */
#st-II {
    --theme: var(--theme-dark)
}

#specjalnosci-1 h3 {
    border-right: 1px solid #E6E6E6;
}


#specjalnosci-1 .row .col {
    --bs-gutter-x: 2.5rem;
    gap: 40px;
}

#specjalnosci-1 .stopien-opis {
    --bs-gutter-x: 0;
    gap: 16px;
}

#specjalnosci-1 .stopien-opis .col {
    --bs-gutter-x: 0;
}

#specjalnosci-1 .specjalnosci {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#specjalnosci-1 .specjalnosci .stopien {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#specjalnosci-1 .specjalnosci .stopien .stopien-num {
    color: var(--theme);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 56px */
}

#specjalnosci-1 .specjalnosci .stopien .stopien-name {
    display: flex;
    align-items: center;
    color: var(--szary-85-tekst);

    /* H3-naglowek-tabu */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#specjalnosci-1 .specjalnosci .cards {
    display: inline-flex;
    align-items: flex-start;
    gap: 35px;
}

#specjalnosci-1 .specjalnosci .cards .card {
    --bs-card-inner-border-radius: 20px;
    --bs-card-outer-border-radius: 20px;
    width: 450px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--szary-10);
    background: var(--biay);

    transition: 0.3s ease;
}

#specjalnosci-1 .specjalnosci .cards .card:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

#specjalnosci-1 .specjalnosci .cards .card img {
    height: 200px;
}

#specjalnosci-1 .specjalnosci .cards .card-body {
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#specjalnosci-1 .specjalnosci .cards h5 {
    align-self: flex-start;
    color: var(--theme);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#specjalnosci-1 .specjalnosci .cards .card-text {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
}

#specjalnosci-1 .specjalnosci .cards ul {
    color: var(--szary-85-tekst);
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 240%;
}

#specjalnosci-1 #card-button {
    background: transparent;
    border: 1px solid var(--szary-10);
    padding: 18px 40px;
}

#specjalnosci-1 #card-button:hover {
    background: var(--theme);
}

/* ===============
    przyszlosc-2
   ===============*/

#przyszlosc-2 {
    background-color: var(--szary-3);
    padding-bottom: 0;
}

#przyszlosc-2 .content {
    padding-bottom: 0;
}

#przyszlosc-2-text {
    gap: 60px;
    padding-bottom: 60px;
}

#przyszlosc-2-text .row {
    gap: 20px;
    height: fit-content;
}

#przyszlosc-2-text .button {
    background: var(--theme);
}

#przyszlosc-2-text .button .button_label {
    color: var(--biay);
}

#przyszlosc-2-text .button .arrow_black {
    background: url(./images/svg/arrow_white.svg);
}

#przyszlosc-2-text .button:hover {
    background: var(--WIT);
}

#przyszlosc-2-image {
    width: 950px;
    overflow: visible;
}

/* 
======================
    pracownie - 3
======================
*/

#pracownie {
    background: url(./grafika-hero-bg-dark.png);
}

#pracownie .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#pracownie .title,
#pracownie .number {
    color: var(--biay, #FFF);
}

#pracownie .col {
    gap: 20px;
}

#pracownie h3 {
    color: var(--theme);
}

#pracownie p {
    color: var(--biay, #FFF);
}


#pracownie .row {
    --bs-gutter-x: 0;
}

#pracownie .col-5 {
    /* padding: 30px 20px; */
    --bs-gutter-x: 0;
    gap: 20px;
}

#pracownie .col ul {
    color: var(--theme);
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 240%;
}

/* 
=================
    opinie - 4
================= 
*/
#opinie,
#opinie .content {
    padding-bottom: 0;
}

#opinie .kierunek-header {
    height: 255px;
}

#opinie .divider hr {
    width: 0px;
    height: 100%;
}

#opinie .col {
    --bs-gutter-x: 0;
    gap: 20px;
}

#opinie .row {
    --bs-gutter-x: 0;
    gap: 20px;
}


#opinie .bg-quote-mark {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;

    width: 430px;
    height: 360px;
}

#opinie .bg-quote-mark img {
    width: 430px;
    height: 360px;
    opacity: 0.3;
}

/* 
=================
    projekty - 5
================= 
*/

#projekty {
    background: url(./images/projekty-bg.jpg);
    background-size: cover;
    background-position: 20%;
    padding-top: 0;
    padding-bottom: 60px;
}

#projekty .content {
    padding: 0;
}

#projekty .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#projekty .title,
#projekty .number {
    color: var(--biay, #FFF);
}

#projekty .col {
    --bs-gutter-x: 10px;
    gap: 20px;
}

#projekty p {
    color: var(--biay, #FFF);
}

#projekty #UPGROWTH {
    background: var(--UPGROWTH);
}

/* 
===============
    galeria - 6
===============
*/

#galeria {
    background: url(./grafika-hero-bg.png);
}

#galeria .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#galeria .title,
#galeria .number {
    color: var(--biay, #FFF);
}

#galeria .row .col,
#galeria .row .col-8 {
    padding-right: 10px;
    padding-left: 10px;
}

#galeria .akapit {
    gap: 20px;
    padding-bottom: 40px;
}

#galeria .akapit h3,
#galeria .akapit p {
    color: var(--biay, #FFF);
}

#galeria .content .wystawy-cards {
    flex-wrap: wrap;
    gap: 20px;
}

#galeria .content .wystawy-cards .wystawa-card {
    max-width: 290px;
    height: fit-content;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 0.5px solid var(--szary-30, #B3B3B3);
    background: #FFF;
}

#galeria .wystawa-card img {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
}

#galeria .wystawa-card p img {
    height: 19px;
    width: 19px;
    border-radius: 0;
}

/* 
===============
    program - 7
===============
 */
#program {
    background: var(--szary-3);
}

#program .stopien {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#program .stopien .stopien-num {
    color: var(--theme);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 56px */
}

#program #II-stopien .stopien-num {
    color: var(--theme-dark);
}

#program .stopien .stopien-name {
    display: flex;
    align-items: center;
    color: var(--szary-85-tekst);

    /* H3-naglowek-tabu */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#program .cards .card {
    transition: 0.3s ease;
    position: relative;
    padding-top: 50px;
    --bs-card-inner-border-radius: 20px;
    --bs-card-outer-border-radius: 20px;
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    background: var(--biay);
    border: none;
    z-index: 999;
    color: var(--theme);
}

#program #cards-II .card,
#program #cards-II .card #card-button:hover {
    color: var(--theme-dark);
}

#program .cards .card .circle {
    transition: 0.3s ease;
    position: absolute;
    top: -80px;
    border-radius: 9999px;
    padding: 110px;
    background: var(--biay);
    z-index: 1;
}

#program .cards .card .circle svg {
    position: absolute;
    top: 20px;
    left: 65px;
    z-index: 100;
    height: 100px;
    width: 89px;
    /* color: var(--theme); */
}

#program .cards .card h5 {
    /* color: var(--theme); */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    z-index: 100;
}

#program .cards .card p {
    text-align: center;
    z-index: 100;
}

#program .cards .card-body {
    gap: 25px;
    justify-content: center;
    align-items: center;
}

#program .cards .card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#program .cards .button_label {
    font-size: 18px;
}

#program #card-efekty .card-text .button {
    padding: 8px 40px;
}

#program .cards .card-text .button {
    padding: 16px 24px;
}

#program .cards .card-text .button .arrow_black {
    background: url(./icons/Shortcut.svg);
}

#program .cards .card-text .button .arrow_white {
    background: url(./icons/Shortcut_white.svg);
}

#program #II-stopien,
#program #cards-II .cards .card {
    color: var(--theme-dark);
}

/* 
==============
    kadra - 8
==============
*/

#kadra {
    background: url(./grafika-hero-bg-dark.png);
}

#kadra {
    background: url(./grafika-hero-bg-dark.png);
}

#kadra .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#kadra .title,
#kadra .number {
    color: var(--biay, #FFF);
}

#kadra .col {
    gap: 20px;
}

#kadra h3 {
    color: var(--theme);
}

#kadra p {
    color: var(--biay, #FFF);
}

/* 
==============
    erasmus - 9
==============
*/

#erasmus {
    background: url(./images/erasmus.png);
}

#erasmus .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#erasmus .title,
#erasmus .number {
    color: var(--biay, #FFF);
}

#erasmus .col {
    gap: 20px;
}

#erasmus h3,
#erasmus p {
    color: var(--biay, #FFF);
}

#erasmus p strong {
    color: var(--theme);
    font-weight: 800;
    font-size: 22px;
}

#erasmus .row {
    --bs-gutter-x: 0px;
}

#erasmus .col {
    --bs-gutter-x: 0px;
    gap: 20px;
}

#erasmus #lower .col {
    --bs-gutter-x: 0px;
    gap: 20px;
    max-width: 340px;
}

#erasmus #col-buttons {
    gap: 30px;
}

/* 
==============
    kariera - 10
==============
*/

#kariera {
    background: black;
}

#kariera .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#kariera .title,
#kariera .number {
    color: var(--biay, #FFF);
}

#kariera .col {
    gap: 20px;
}

#kariera h3,
#kariera p {
    color: var(--biay, #FFF);
}

#kariera .col-1 {
    max-width: 40px;
}

#kariera-col-II {
    gap: 40px;
}

#kariera-col-II .col {
    gap: 12px;
}

#kariera-col-II h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--theme-dark);
}


/* 
==============
    opłaty - 11
==============
*/

#oplaty {
    background: var(--szary-3);
}

#oplaty .col {
    gap: 20px;
}

#oplaty h4 {
    color: var(--theme);
}

#oplaty .col-1 {
    max-width: 40px;
}

#oplaty .col-fill {
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(--obrys-jasnoszary, #E6E6E6);
    background: var(--biay);
}

#oplaty #I h4 {
    font-size: 30px;
    font-weight: 700;
}

#oplaty #II h4 {
    font-size: 30px;
    font-weight: 300;
    color: var(--szary-85-tekst);
}

#oplaty #ceny h4 {
    font-size: 20px;
    font-weight: 400;
}

#oplaty #ceny h4 strong {
    font-weight: 600;
}

#oplaty #ceny #header {
    background: var(--theme);
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

#oplaty #ceny #header .col {
    width: fit-content;
}

#oplaty #ceny #header p {
    color: var(--biay, #FFF);
    text-align: center;

    /* btn WIęcej */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#oplaty #ceny #tabela {
    background: var(--biay);
    border-radius: 20px;
    padding: 0px 12px 12px 12px;
    gap: 10px;
}

#oplaty #ceny #row-content {
    padding: 0px 20px;
}

#oplaty #ceny #row-content p {
    text-align: center;
}

#oplaty .card {
    max-width: 420px;
    padding: 0px;
    border: none;
    opacity: 0.7;
    height: fit-content;
}

#oplaty .card .card-body {
    padding: 20px;
    gap: 20px;
}

#oplaty .card .card-body a{
    transition: 0.3s ease;
}

#oplaty .card .card-img-top {
    height: 50px;
    width: 50px;
    padding: 10px;
    align-self: center;
}

#oplaty #yellow {
    background: #FFE5AD;
}

#oplaty #gray {
    background: #EBEBEB;
}

#oplaty #blue {
    background: #91D1FF;;
}


/* 
==============
    rekrutacja - 12
==============
*/

#rekrutacja {
    background: var(--WIT);
}

#rekrutacja .kierunek-header {
    color: var(--biay, #FFF);
    border-bottom: 1px solid #e4e4e4;
}

#rekrutacja .kierunek-header .number,
#rekrutacja .kierunek-header .title {
    color: var(--biay)
}